body {
    background-color: #FFF;
    font-family: "Lato", sans-serif;
    width: 1920px;
    /* height: 4867px; */

}

/* header section styles */

.main-header {
    width: 1920px;
    height: 850px;
    background: rgba(229, 84, 115, 0.10);
    margin-bottom: 178px;
    /* background-image: url('../Asset/pngwing\ 10.png');
    background-repeat: no-repeat;
    background-position: bottom right; */

}

.main-div {
    display: flex;
    justify-content: space-between;
}

.header-section-1 {
    padding: 197px 90px 0px 240px;
}

.header-head {
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    width: 708px;
    padding: 0px 0px 0px 0px;
    margin: 0px;
}

.header-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    width: 634px;
    padding: 25px 0px;
}

.btn-primary {
    border-radius: 8px;
    background: #E55473;
    display: inline-flex;
    padding: 20px 43px;
    align-items: flex-start;
    gap: 10px;
    border: 0;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
}

.header-image {
    padding: 50px 240px 0px 97px;
}

/* main section styles */
.main-section-1 {
    text-align: center;
}

.main-section-1-head {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin: 0px;
}

.main-section-1-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding: 24px 663px 48px 663px;
}