body {
    background-color: #FFF;
    font-family: "Lato", sans-serif;
    width: 1920px;
    /* height: 4867px; */

}

/* header section styles */

.main-header {
    width: 1920px;
    height: 850px;
    background: rgba(229, 84, 115, 0.10);
    margin-bottom: 178px;
    /* background-image: url('../Asset/pngwing\ 10.png');
    background-repeat: no-repeat;
    background-position: bottom right; */

}

.main-div {
    display: flex;
    justify-content: space-between;
}

.header-section-1 {
    padding: 197px 90px 0px 240px;
}

.header-head {
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    width: 708px;
    padding: 0px 0px 0px 0px;
    margin: 0px;
}

.header-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    width: 634px;
    padding: 25px 0px;
}

.btn-primary {
    border-radius: 8px;
    background: #E55473;
    display: inline-flex;
    padding: 20px 43px;
    align-items: flex-start;
    gap: 10px;
    border: 0;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
}

.header-image {
    padding: 50px 240px 0px 97px;
}

/* main section styles */
/* main section 1 */
.main-section-1 {
    text-align: center;
}

.main-section-1-head {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin: 0px;
}

.main-section-1-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding: 24px 663px 48px 663px;
}

/* main section 2 */
.main-section-2 {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 30px;
    padding: 10px 0px;
    margin: 0px 250px;
}

.main-section-2-image-1 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);

    padding: 110px 78px 0px 76px;
    width: 300px;
    height: 370px;
}

.main-section-2-image-2 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    padding: 100px 35px 12px 35px;
    width: 370px;
    height: 370px;
}

.main-section-2-image-3 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    width: 314px;
    height: 471px;
    padding: 10px 65px 0px 65px;
}

.main-section-2-images-title {
    text-decoration: underline;
    font-size: 24px;
    font-weight: 700;
    margin: 30px 0px 128px 0px;
}

/* main section 3 */
.main-section-3 {
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    display: flex;
    align-items: center;
    text-align: center;
    gap: 100px;
    margin: 0px 240px;
    padding: 0px 175px;
    width: 1059px;
    height: 320px;
}

.main-section-3-description {
    color: rgba(39, 39, 39, 0.80);
    font-size: 24px;
    font-weight: 600;
}

/* main section 4 */
.main-section-4 {
    display: flex;
    justify-content: space-between;
    text-align: center;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    width: 1920px;
    height: 620px;
    margin: 128px 0px;
}

.coulmn-1 {
    padding: 230px 215px 162px 395px;
}

.column-1-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}

.column-title-off {
    color: #E55473;
}

.column-1-description {
    color: rgba(39, 39, 39, 0.60);
    /* text-align: center; */
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    width: 594px;
}

.column-2-image {
    padding: 100px 420px 100px 0px;
}

/* main section 5 */
.main-section-5 {
    /* align-items: center; */
    text-align: center;
}

.main-section-5-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 24px;
    text-align: center;
}

.main-section-5-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    width: 594px;
    padding: 0px 663px;
}

/* main section 6 styles */
.main-secton-6 {
    display: flex;
    gap: 24px;
    align-items: center;
    padding: 48px 240px 0px 240px;
    margin-bottom: 128px;
}

/* main description 7 styles */
.main-section-7 {
    align-items: center;
    text-align: center;
    background-image: url('../Asset/Rectangle\ 9.png');
    width: 1440px;
    height: 449px;
    margin: 0px 240px 128px 240px;
}

.main-section-7-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    padding: 122px 500px 0px 500px;
    margin-bottom: 10px;
}

.main-section-7-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

#section-7-input {
    border-radius: 8px;
    background: #FFF;
    width: 700px;
    height: 64px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 16px;
    font-weight: 400;
    padding: 0px 22px;
    border: 0;
    margin-right: 15px;
}

/* main section 8 styles */
.main-section-8 {
    align-items: center;
    /* text-align: center; */
    background: rgba(229, 84, 115, 0.10);
    width: 1069px;
    height: 850px;
    margin: 0px 240px;
    padding: 0px 175px;
}

.main-section-8-div-selection {
    text-align: left;
    padding: 140px 0px 0px 400px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.main-section-8-span {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}
.main-section-8-div {
    display: block;
    padding-left: 310px;
}
.name{
    text-align: left;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
}

#main-section-8-text {
    border-radius: 8px;
    background: #FFF;
    width: 500px;
    height: 64px;
    margin: 0px;
    border: 0;
    padding-left: 20px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 16px;
    font-weight: 400;
}

.main-section-8-surity {
    font-size: 16px;
    font-weight: 400;
    padding-right: 30px;
    padding-top: 15px;
}

#btn {
    margin: 30px 190px;
}

/* footer section styles */
.footer-section {
    background-color: #111010;
    width: 1920px;
    height: 449px;
    text-align: center;
    padding-top: 128px;
}

.footer-title {
    color: #E55473;
    font-size: 48px;
    font-weight: 800;
    margin-bottom: 0;
}

.footer-span {
    color: #FFF;
    font-size: 48px;
    font-weight: 800;
}

.footer-description {
    color: rgba(255, 255, 255, 0.90);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    width: 625px;
    padding: 10px 635px;
    margin-bottom: 0;
}

.footer-finishing {
    color: rgba(255, 255, 255, 0.40);
    font-size: 16px;
    font-weight: 400;
    padding-right: 30px;
    padding-top: 15px;
}